{%- comment -%}
  Renders a quick buy button for a product card.

  Accepts:
  - product: {Object} the product object.
  - button_classes: {String} additional classes to add to the button element.

  Usage:
  {% render 'quick-buy', product: product, button_classes: 'button--small', quick_buy_button_text: block.settings.quick_buy_text, choose_options_button_text: block.settings.choose_options_text %}
{%- endcomment -%}

{%- unless product.available -%}

  <button class="button button--{{ settings.product_card_button_style }} {{ button_classes }}" disabled
    style="pointer-events: none; opacity: 0.36;"
  >
    <span class="button__text {% if layout == 'shop' %} text-size--regular {% endif %}">{{ 'products.grid.sold_out_product' | t }}</span>
  </button>

{%- else -%}

  {%- if product.has_only_default_variant and settings.product_card_quick_buy_always_show_modal == false -%}
    <quick-add-to-cart class="quick-add-to-cart" data-js-product-component>
      <product-form {% unless settings.cart_action == 'no-overlay' %} data-ajax-cart {% endunless %} data-product-url="{{ product.url }}">
        <div class="quick-add-to-cart-button">
          {%- form 'product', product -%}
            <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
            <button class="button button--{{ settings.product_card_button_style }} {{ button_classes }} button--loader" data-js-product-add-to-cart type="submit" name="add">
              {%- liquid
                assign default_button_text = 'products.grid.quick_buy' | t
                assign quick_buy_button_text = quick_buy_button_text | default: default_button_text
              -%}
              <span class="button__text {% if layout == 'shop' %} text-size--regular {% endif %}">{{ quick_buy_button_text }}</span>
              <span class="button__preloader">
                <svg class="button__preloader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>
              </span>
            </button>
          {%- endform -%} 
        </div>
      </product-form>
    </quick-add-to-cart>
  {%- else -%}
    <quick-view-product class="quick-add-to-cart">
      <a href="{{ product.url }}" class="button button--{{ settings.product_card_button_style }} {{ button_classes }} button--loader" data-js-product-add-to-cart data-id="{{ product.id }}">
        <span class="button__text {% if layout == 'shop' %} text-size--regular {% endif %}">
          {%- liquid
            if settings.product_card_buy_button_labels == 'buy_now'
              assign default_button_text = 'products.grid.quick_buy' | t
              echo quick_buy_button_text | default: default_button_text
            else 
              assign default_button_text = 'products.page.choose_options_button' | t
              echo choose_options_button_text | default: default_button_text
            endif
          -%}
        </span>
        <span class="button__preloader">
          <svg class="button__preloader-element" viewBox="25 25 50 50"><circle cx="50" cy="50" r="20" fill="none" stroke-width="4"/></svg>
        </span>
      </a>
    </quick-view-product>
  {%- endif -%}

{%- endunless -%}