{%- if block.settings.button_label != blank -%}
  {%- if block.settings.color_text_buttons != 'rgba(0,0,0,0)'
    or block.settings.color_accent_buttons != 'rgba(0,0,0,0)'
  -%}
    <style type="text/css">
      #button-{{ block.id }} {
        {%- if block.settings.color_text_buttons != 'rgba(0,0,0,0)' -%}
          --color-text-main: {{ block.settings.color_text_buttons }};
          --color-text-cards: {{ block.settings.color_text_buttons }};
          {%- liquid
            assign brightness_button = block.settings.color_text_buttons | color_brightness
            if brightness_button > 150
              assign color_foreground_button = settings.color_foreground_light
            else
              assign color_foreground_button = settings.color_foreground_dark
            endif
          -%}
          --color-foreground-main: {{ color_foreground_button }};
          --color-foreground-cards: {{ color_foreground_button }};
        {%- endif -%}

        {%- if block.settings.color_accent_buttons != 'rgba(0,0,0,0)' -%}
          --color-accent-main: {{ block.settings.color_accent_buttons }};
          --color-accent-cards : {{ block.settings.color_accent_buttons }};
          {%- liquid
            assign brightness_accent_main = block.settings.color_accent_buttons | color_brightness
            if brightness_accent_main > 150
              assign color_foreground_accent_button = settings.color_foreground_light
            else
              assign color_foreground_accent_button = settings.color_foreground_dark
            endif
          -%}
          --color-foreground-accent-main: {{ color_foreground_accent_button }};
          --color-foreground-accent-cards: {{ color_foreground_accent_button }};

        {%- endif -%}
      }
    </style>
  {%- endif -%}

  <a
    href="{{ block.settings.link | escape }}"
    class="button button--{{ block.settings.button_size }} button--{{ block.settings.button_style }}"
    {% if block.settings.open_in_new_window %}
      target="_blank"
    {% endif %}
    id="button-{{ block.id }}"
  >
    {{ block.settings.button_label | escape }}
  </a>
{%- endif -%}

{% schema %}
{
  "name": "t:sections.rich-text.blocks.button.name",
  "settings": [
    {
      "type": "text",
      "id": "button_label",
      "label": "t:sections.contact-form.blocks.field.settings.labels.label",
      "default": "Button label"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:sections.image-with-text.blocks.image.settings.url.label"
    },
    {
      "type": "checkbox",
      "id": "open_in_new_window",
      "visible_if": "{{ block.settings.link != blank }}",
      "label": "t:sections.local-extra-words.sections.announcement-bar.blocks.content.settings.target",
      "default": false
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "t:sections.rich-text.blocks.button.settings.button_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__1"
        },
        {
          "value": "regular",
          "label": "t:sections.rich-text.blocks.button.settings.button_size.options__1.label"
        },
        {
          "value": "large",
          "label": "t:sections.rich-text.blocks.button.settings.button_size.options__2.label"
        }
      ],
      "default": "regular"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "t:sections.local-extra-words.sections.buttons.style.label",
      "options": [
        {
          "value": "outline",
          "label": "t:sections.local-extra-words.sections.buttons.style.option__1"
        },
        {
          "value": "solid",
          "label": "t:sections.local-extra-words.sections.buttons.style.option__2"
        }
      ],
      "default": "outline"
    },
    {
      "type": "header",
      "content": "t:local-march-update.labels.custom_colors"
    },
    {
      "type": "color",
      "id": "color_text_buttons",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_accent_buttons",
      "label": "t:sections.local-extra-words.settings_schema.colors.settings.accent",
      "default": "rgba(0,0,0,0)"
    }
  ],
  "presets": [
    {
      "name": "t:sections.rich-text.blocks.button.name",
      "settings": {
        "button_label": "Button label"
      }
    }
  ]
}
{% endschema %}
