{{ 'component-product-item.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign collection_tabs = 0

  if section.settings.collection != blank
    assign collection_tabs = collection_tabs | plus: 1
  endif

  if section.settings.collection_1 != blank
    assign collection_tabs = collection_tabs | plus: 1
  endif

  if section.settings.collection_2 != blank
    assign collection_tabs = collection_tabs | plus: 1
  endif

  if section.settings.collection_3 != blank
    assign collection_tabs = collection_tabs | plus: 1
  endif
-%}

<div
  id="section-{{ section.id }}"
  class="
    container--large remove-empty-space
    {% unless section.settings.remove_margin %} {% unless section.settings.descrease_margin %} container--vertical-space {% else %} container--vertical-space-grid {% endunless %} {% endunless %}
    {% if section.settings.section_background_color != "rgba(0,0,0,0)" or section.settings.section_background_gradient != blank %} container--has-background {% endif %}
    {% if section.settings.section_visibility == "mobile" %} element--hide-on-desk {% endif %}
    {% if section.settings.section_visibility == "desktop" %} element--hide-on-small {% endif %}
  "
>
  <collection-tabs>
    {%- render 'section-heading',
      heading: section.settings.heading,
      subheading: section.settings.subheading,
      button: section.settings.show_view_all,
      button_label: 'collections.view_all_products',
      link: collections[section.settings.collection].url,
      heading_tag: section.settings.seo_h_tag,
      layout: section.settings.section_heading_layout
    -%}

    {%- if collection_tabs > 1 -%}
      <ul class="collection-tabs gutter-bottom--large">
        {%- if section.settings.collection != blank -%}
          <li class="collection-tabs_tab">
            <button
              role="tab"
              aria-controls="collection-{{ section.id }}-0"
              data-collection-url="{{ section.settings.collection.url }}"
              class="button button--small"
            >
              {{ section.settings.collection.title | escape }}
            </button>
          </li>
        {%- endif -%}
        {%- if section.settings.collection_1 != blank -%}
          <li class="collection-tabs_tab">
            <button
              role="tab"
              aria-controls="collection-{{ section.id }}-1"
              data-collection-url="{{ section.settings.collection_1.url  }}"
              class="button button--small"
            >
              {{ section.settings.collection_1.title | escape }}
            </button>
          </li>
        {%- endif -%}
        {%- if section.settings.collection_2 != blank -%}
          <li class="collection-tabs_tab">
            <button
              role="tab"
              aria-controls="collection-{{ section.id }}-2"
              data-collection-url="{{ section.settings.collection_2.url  }}"
              class="button button--small"
            >
              {{ section.settings.collection_2.title | escape }}
            </button>
          </li>
        {%- endif -%}
        {%- if section.settings.collection_3 != blank -%}
          <li class="collection-tabs_tab">
            <button
              role="tab"
              aria-controls="collection-{{ section.id }}-3"
              data-collection-url="{{ section.settings.collection_3.url  }}"
              class="button button--small"
            >
              {{ section.settings.collection_3.title | escape }}
            </button>
          </li>
        {%- endif -%}
      </ul>
    {%- endif -%}

    <div id="product-grid-{{ section.id }}">
      {%- liquid
        if collection_tabs > 0
          assign first_panel = true

          if section.settings.collection != blank
            render 'collection-panel', panel_id: 0, collection: section.settings.collection, collection_tabs: collection_tabs, active: first_panel
            assign first_panel = false
          endif

          if section.settings.collection_1 != blank
            render 'collection-panel', panel_id: 1, collection: section.settings.collection_1, collection_tabs: collection_tabs, active: first_panel
            assign first_panel = false
          endif

          if section.settings.collection_2 != blank
            render 'collection-panel', panel_id: 2, collection: section.settings.collection_2, collection_tabs: collection_tabs, active: first_panel
            assign first_panel = false
          endif

          if section.settings.collection_3 != blank
            render 'collection-panel', panel_id: 3, collection: section.settings.collection_3, collection_tabs: collection_tabs, active: first_panel
            assign first_panel = false
          endif
        else
          render 'collection-panel', panel_id: -1, collection_tabs: collection_tabs
        endif
      -%}
    </div>

    {%- if section.settings.show_view_all and section.settings.section_heading_layout contains 'center' -%}
      <div class="gutter-top--large align-content align-content--horizontal-center">
        <a
          class="button button--outline button--regular js-view-collection-link"
          href="{{ collections[section.settings.collection].url }}"
        >
          {{- 'collections.view_all_products' | t -}}
        </a>
      </div>
    {%- endif -%}
  </collection-tabs>
</div>

<style>
  #product-grid-{{ section.id }} .product-item {
    {%- if section.settings.color_background_main != 'rgba(0,0,0,0)' -%}
      --color-background-cards: {{ section.settings.color_background_main }};
    {%- endif -%}
    {%- if section.settings.color_text_main != 'rgba(0,0,0,0)' -%}
      --color-text-cards: {{ section.settings.color_text_main }};
    {%- endif -%}
    {%- if section.settings.color_borders_main != 'rgba(0,0,0,0)' -%}
      --color-borders-cards: {{ section.settings.color_borders_main }};
    {%- endif -%}
    {%- if section.settings.color_shadow_main != 'rgba(0,0,0,0)' -%}
      --color-shadow-cards: {{ section.settings.color_shadow_main }};
    {%- endif -%}
    {%- if section.settings.color_hide_borders -%}
      --border-width-cards: 0;
    {%- endif -%}
    {%- if section.settings.color_hide_shadow -%}
      --shadow-x-cards: 0;
      --shadow-y-cards: 0;
      --shadow-blur-cards: 0;
    {%- endif -%}
  }

  {%- if section.settings.color_button_main != 'rgba(0,0,0,0)' -%}
    #product-grid-{{ section.id }} .product-item .button {
      --color-text-cards: {{ section.settings.color_button_main }};
      {%- liquid
        assign brightness_product_button = section.settings.color_button_main | color_brightness
        if brightness_product_button > 150
          assign color_foreground_product_button = settings.color_foreground_light
        else
          assign color_foreground_product_button = settings.color_foreground_dark
        endif
      -%}
      --color-foreground-cards: {{ color_foreground_product_button }};
    }
  {%- endif -%}
</style>

{%- if collection_tabs > 1 -%}
  <script src="{{ 'component-collection-tabs.js' | asset_url }}" defer></script>
{%- endif -%}

{%- if section.settings.section_background_color != 'rgba(0,0,0,0)' -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      background-color: {{ section.settings.section_background_color }};
    }
  {% endstyle %}
{%- endif -%}
{%- if section.settings.section_background_gradient != blank -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      background: {{ section.settings.section_background_gradient }};
    }
  {% endstyle %}
{%- endif -%}
{%- if section.settings.section_heading_color != 'rgba(0,0,0,0)' -%}
  {% style %}
    #shopify-section-{{ section.id }} {
      --color-text-main: {{ section.settings.section_heading_color }};
    }
  {% endstyle %}
{%- endif -%}

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "class": "mount-css-slider mount-collection-tabs",
  "blocks": [
    {
      "type": "price",
      "name": "t:sections.local-extra-words.sections.product-card.blocks.price",
      "limit": 1
    },
    {
      "type": "title",
      "name": "t:sections.local-extra-words.sections.product-card.blocks.title",
      "limit": 1
    },
    {
      "type": "quick_buy",
      "name": "t:sections.local-extra-words.sections.product-card.blocks.quick_buy",
      "limit": 1
    },
    {
      "type": "vendor",
      "name": "t:sections.local-extra-words.sections.product-card.blocks.vendor",
      "limit": 1
    },
    {
      "type": "rating",
      "name": "t:sections.local-extra-words.sections.product-card.blocks.rating",
      "limit": 1
    },
    {
      "type": "local_availability",
      "name": "t:sections.local-extra-words.settings_schema.product-card.local-pickup.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.local-extra-words.settings_schema.product-card.local-pickup.info"
        }
      ]
    },
    {
      "type": "icons",
      "name": "t:sections.local-extra-words.sections.main-product.blocks.icons.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.local-extra-words.sections.main-product.blocks.icons.help"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.local-extra-words.sections.product-card.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "metafield",
          "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.text.label",
          "info": "custom.product_text"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
          "options": [
            {
              "value": "text-size--xsmall",
              "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__1"
            },
            {
              "value": "text-size--regular",
              "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__2"
            },
            {
              "value": "text-size--large",
              "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.option__3"
            }
          ],
          "default": "text-size--regular"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.color.label",
          "default": "#6A6A6A"
        },
        {
          "type": "checkbox",
          "id": "text_transform",
          "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.transform.label",
          "default": false
        }
      ]
    },
    {
      "type": "product_link",
      "name": "t:sections.featured-product.blocks.product_link.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.local-extra-words.sections.main-header.settings.promotion_block.button.label",
          "default": "View product"
        }
      ]
    },
    {
      "type": "space",
      "name": "t:local-march-update.blocks.space.name"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:local-march-update.labels.heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.local-extra-words.sections.headings.heading",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.local-extra-words.sections.headings.subheading",
      "default": "Showcase your best products"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "t:sections.featured-collection.settings.show_view_all.label",
      "default": true
    },
    {
      "type": "select",
      "id": "section_heading_layout",
      "label": "t:sections.rich-text.settings.text_alignment.label",
      "options": [
        {
          "value": "section-heading--left",
          "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
        },
        {
          "value": "section-heading--center",
          "label": "t:sections.rich-text.settings.text_alignment.options__2.label"
        }
      ],
      "default": "section-heading--left"
    },
    {
      "type": "header",
      "content": "t:sections.main-article.blocks.content.name"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.featured-collection.settings.layout.label",
      "options": [
        {
          "label": "t:sections.featured-collection.settings.layout.options__1.label",
          "value": "slider"
        },
        {
          "label": "t:sections.featured-collection.settings.layout.options__2.label",
          "value": "grid"
        }
      ],
      "default": "grid"
    },
    {
      "type": "select",
      "id": "layout_desktop",
      "label": "t:sections.local-extra-words.sections.columns.name",
      "options": [
        {
          "value": "three-columns",
          "label": "t:sections.local-extra-words.sections.columns.option__2"
        },
        {
          "value": "four-columns",
          "label": "t:sections.local-extra-words.sections.columns.option__3"
        },
        {
          "value": "five-columns",
          "label": "t:sections.local-extra-words.sections.columns.option__4"
        }
      ],
      "default": "four-columns"
    },
    {
      "type": "select",
      "id": "layout_mobile",
      "label": "t:sections.local-extra-words.sections.columns.name_mobile",
      "options": [
        {
          "value": "grid-palm-1",
          "label": "t:sections.local-extra-words.sections.columns.option__0"
        },
        {
          "value": "grid-palm-2",
          "label": "t:sections.local-extra-words.sections.columns.option__1"
        }
      ],
      "default": "grid-palm-1"
    },
    {
      "type": "range",
      "id": "products_number",
      "label": "t:sections.featured-collection.settings.products_number.label",
      "min": 4,
      "max": 96,
      "step": 1,
      "default": 12
    },
    {
      "type": "header",
      "content": "t:sections.main-list-collections.settings.header.content"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "collection",
      "id": "collection_1",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "collection",
      "id": "collection_2",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "collection",
      "id": "collection_3",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "header",
      "content": "t:sections.local-extra-words.sections.headings.custom_colors"
    },
    {
      "type": "color",
      "id": "color_background_main",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_text_main",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_button_main",
      "label": "t:sections.local-extra-words.settings_schema.borders.buttons.name",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_borders_main",
      "label": "t:sections.local-extra-words.settings_schema.colors.settings.borders",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "color_shadow_main",
      "label": "t:local-march-update.shadows.label",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "checkbox",
      "id": "color_hide_borders",
      "label": "t:sections.local-extra-words.settings_schema.colors.settings.hide_border",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "color_hide_shadow",
      "label": "t:local-march-update.shadows.hide",
      "default": false
    },
    {
      "type": "header",
      "content": "t:local-march-update.labels.section_design"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "t:sections.local-extra-words.settings_schema.product-card.badges.custom_badges.color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color_background",
      "id": "section_background_gradient",
      "label": "t:local-230.background_gradient"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "t:local-223.heading_text_color",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "checkbox",
      "id": "descrease_margin",
      "visible_if": "{{ section.settings.remove_margin == false }}",
      "label": "t:theme_blocks.descrease_top_margin",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_margin",
      "visible_if": "{{ section.settings.descrease_margin == false }}",
      "label": "t:sections.local-extra-words.sections.rich-text.settings.remove_margin.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.refactor_words.seo.name"
    },
    {
      "type": "select",
      "id": "seo_h_tag",
      "label": "t:sections.refactor_words.seo.label",
      "info": "t:sections.refactor_words.seo.info",
      "options": [
        {
          "value": "h1",
          "label": "H1"
        },
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        },
        {
          "value": "span",
          "label": "span"
        }
      ],
      "default": "h2"
    },
    {
      "type": "header",
      "content": "t:sections.refactor_words.announcement-bar.visibility.label"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:sections-visibility.label",
      "options": [
        {
          "value": "always",
          "label": "t:sections-visibility.options.always"
        },
        {
          "value": "mobile",
          "label": "t:sections-visibility.options.mobile"
        },
        {
          "value": "desktop",
          "label": "t:sections-visibility.options.desktop"
        }
      ],
      "default": "always"
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name",
      "category": "t:sections-categories.collections",
      "blocks": [{ "type": "price" }, { "type": "title" }, { "type": "quick_buy" }]
    }
  ],
  "disabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
