{%- if section.blocks.size > 0 -%}

  <div class="
    {% unless section.settings.remove_top_margin %} container--vertical-space {% endunless %} 
    {% if section.settings.remove_bottom_margin %} container--negative-margin {% endif %}
    {% if section.settings.section_visibility == "mobile" %} element--hide-on-desk {% endif %}
    {% if section.settings.section_visibility == "desktop" %} element--hide-on-small {% endif %} 
  ">

    <style type="text/css">
      #element-{{ section.id }} {
        {% if section.settings.color_background_main != 'rgba(0,0,0,0)' %}
          background: {{ section.settings.color_background_main }};
        {% endif %}
        {% if section.settings.section_background_gradient != blank %}
          background: {{ section.settings.section_background_gradient }};
        {% endif %}
      }
      {% if section.settings.color_text_main != 'rgba(0,0,0,0)' %}
        #element-{{ section.id }}, #element-{{ section.id }} a {
          color: {{ section.settings.color_text_main }};
        }
      {% endif %}
      #element-{{ section.id }} {
        --scrolling-text-space: {{ section.settings.horizontal_space }};
        --scrolling-text-size: {{ section.settings.text_size }}px;
        --scrolling-text-font-size: {%- liquid
          if section.settings.text_size == '100'
            echo '100'
          else
            echo section.settings.text_size | times: 2
          endif
        -%}%;
      }
      {%- unless section.settings.text_size == '100' -%}
        @media screen and (max-width: 767px) {
          #element-{{ section.id }} {
            --scrolling-text-font-size: {{ section.settings.text_size | times: 1.25 }}%;
          }
        }
      {%- endunless -%}
    </style>
    
    {{ 'section-marquee.css' | asset_url | stylesheet_tag }}

    {%- liquid
      assign scroll_direction = 'ltr'
      if section.settings.scroll_direction == 'right'
        assign scroll_direction = 'rtl'
      endif
    -%}

    <scrolling-text id="element-{{ section.id }}" class="scrolling-text text-size--xlarge" data-scrolling-speed="{{ section.settings.speed }}" data-scrolling-direction="{{ scroll_direction }}" data-pause-on-hover="{{ section.settings.pause_on_hover }}" dir="{{ scroll_direction }}">
      <div class="scrolling-text__container">  
        {%- for block in section.blocks -%}
          {%- if block.type == 'text' -%}
            <span class="scrolling-text__text" id="block-{{ block.id }}" {{ block.shopify_attributes }}>{{ block.settings.marquee_text }}</span>
          {%- else -%}
            <span class="scrolling-text__image" id="block-{{ block.id }}" {{ block.shopify_attributes }}>
              <style>
                #block-{{ block.id }} img {
                  border-radius: {{ block.settings.border_radius }}px;
                }
              </style>
              {%- unless block.settings.image == blank -%}
                {%- render 'lazy-image', image: block.settings.image, sizes: 'sizes="100px"' -%}
              {%- else -%}
                <span class="lazy-image">{{ 'image' | placeholder_svg_tag }}</span>
              {%- endunless -%}
            </span>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </scrolling-text>

    <script src="{{ 'component-scrolling-text.js' | asset_url }}" defer></script>

  </div>

{%- endif -%}

{% schema %}
{
  "name": "t:sections.local-extra-words.sections.marquee.name",
  "class": "mount-scrolling-text",
  "settings": [
    {
      "id": "scroll_direction",
      "type": "select",
      "options": [
        {
          "value": "right",
          "label": "t:sections.rich-text.settings.text_alignment.options__3.label"
        },
        {
          "value": "left",
          "label": "t:sections.rich-text.settings.text_alignment.options__1.label"
        }
      ],
      "default": "left",
      "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_direction"
    },
    {
      "type": "range",
      "id": "speed",
      "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_speed",
      "min": 20,
      "max": 300,
      "step": 10,
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "pause_on_hover",
      "label": "t:sections.local-extra-words.sections.marquee.settings.pause_on_mouseover",
      "default": true
    },
    {
      "type": "select",
      "id": "horizontal_space",
      "label": "t:sections.local-extra-words.settings_schema.layout.grid.horizontal_space",
      "options": [
        {
          "value": "0.7",
          "label": "t:sections.local-extra-words.settings_schema.product-card.title-size.options__1"
        },
        {
          "value": "0.9",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__5"
        },
        {
          "value": "1.1",
          "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__2"
        }
      ],
      "default": "1.1"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:sections.local-extra-words.sections.product-card.blocks.text.settings.size.label",
      "options": [
          {
            "value": "100",
            "label": "t:sections.local-extra-words.settings_schema.product-card.title-size.options__1"
          },
          {
            "value": "150",
            "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__5"
          },
          {
            "value": "200",
            "label": "t:sections.local-extra-words.sections.media-with-text-overlay.settings.option__2"
          }
        ],
        "default": "100"
    },
    {
      "type": "checkbox",
      "id": "remove_top_margin",
      "label": "t:sections.local-extra-words.settings_schema.layout.sections.remove_vertical_space",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_bottom_margin",
      "label": "t:local-march-update.labels.bottom_margin",
      "default": false
    },
    {
      "type": "header",
      "content": "t:local-march-update.labels.section_design"
    },
    {
      "type": "color",
      "id": "color_background_main",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.background",
      "default": "#e9e9e9"
    },
    {
      "type": "color_background",
      "id": "section_background_gradient",
      "label": "t:local-230.background_gradient"
    },
    {
      "type": "color",
      "id": "color_text_main",
      "label": "t:sections.split-extra-words.settings_schema.colors.settings.text",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "header",
      "content": "t:sections.refactor_words.announcement-bar.visibility.label"
    },
    {
      "type": "select",
      "id": "section_visibility",
      "label": "t:sections-visibility.label",
      "options": [
        {
          "value": "always",
          "label": "t:sections-visibility.options.always"
        },
        {
          "value": "mobile",
          "label": "t:sections-visibility.options.mobile"
        },
        {
          "value": "desktop",
          "label": "t:sections-visibility.options.desktop"
        }
      ],
      "default": "always"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "t:local-260.options.text",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.local-extra-words.sections.headings.text_content"
        },
        {
          "type": "inline_richtext",
          "id": "marquee_text",
          "label": "t:sections.local-extra-words.sections.marquee.settings.scroll_item_text",
          "default": "Default scrolling text. Lorem ipsum texturum marquee tamet"
        }
      ]
    },
    {
      "type": "image",
      "name": "t:local-260.labels.image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.refactor_words.before_after.image.label__1"
        },
        {
          "type": "range",
          "id": "border_radius",
          "label": "t:sections.split-extra-words.settings_schema.typography.settings.border_radius",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "default": 0
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.local-extra-words.sections.marquee.name",
      "category": "t:sections-categories.promotions",
      "blocks": [
        { "type": "text" }
      ]
    }
  ]
}
{% endschema %}